


@model dotnet_mvc.Models.Domain.Genre

<div style="width:50%">

    <form class="mt-2" asp-action="Update" method="post">
        <h2>Edit genre</h2>
        
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" asp-for="Name" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        @if (TempData["message"] != null)
        {
            <div class="mb-3 text-success">
                @TempData["message"]
            </div>
        }

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/Genre/GetAll" class="btn btn-outline-info">All genre</a>
    </form>
</div>