@model dotnet_mvc.Models.Domain.Book

<div style="width:50%">

    <form class="mt-2" asp-action="Add" method="post">
        <h2>Add new book</h2>
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text" asp-for="Title" class="form-control">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
       
        <div class="form-group mb-2">
            <label asp-for="GenreId">Genre *</label>
            <select asp-for="GenreId" asp-items="Model.GenreList" class="form-control">
                <option value="">--select--</option>
            </select>
            <span asp-validation-for="GenreId" class="text-danger"></span>
        </div>
        @if (TempData["message"] != null)
        {
            <div class="mb-3 text-success">
                @TempData["message"]
            </div>
        }

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/book" class="btn btn-outline-info">index book</a>
    </form>
</div>
